.eliminatorias-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .eliminatorias-match {
    width: 90%;
    height: 100px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #99999996;
    border-radius: 5px;
  }
  
  