.GrupoWhats{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
    width: 90%;
    height: 310px;
    background-color: #ffac07f1;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 6px rgba(0, 0, 0, 0.296);
}

.GrupoWhats h1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #215D94 !important;
    border-radius: 8px 8px 0px 0px;
    box-shadow: 0px -3px 15px 5px black;
}

.GrupoWhats p{
    margin-top: 30px;
    text-align: justify;
    font-size: 15px;
    color: #215D94;
}

.GrupoWhats img {
    width: 70px;
}

.GrupoWhats a{
    text-decoration: none;
    color: #215D94;
    font-size: 20px;
    font-weight: bold;
}